.container {
    width: 65vw;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    background-color: #303030;
    border-radius: 25px;
    padding: 20px;
}

.input {
    flex: 1;
    color: #fff;
    background-color: transparent;
    border: none;
    resize: none;
    outline: none;
    box-shadow: none;
    border-color: inherit;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

.input::placeholder {
  color: #999; /* Change to any color you want */
  opacity: 1;   /* Optional: ensures the placeholder is fully opaque */
}

.send-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;

    .up-arrow-icon{
        font-size: 18px;
        color: black;
    }
}

.send-button:hover {
    background-color: lightgray;
}