.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    position:absolute;
    bottom: 5px;
}

.footer-text {
    font-weight: 100;
    font-size: 0.925rem;
    color: darkgray;
}