html, body {
  margin:0%;
  background-color: #212121;
  font-family: 'Inter', sans-serif;
}  

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  padding-top: 27vh;  
  gap: 38px;
}

.box {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.incognito-img {
  width: 50px;
  height: 50px;
}

.app-name {
  font-weight: 500;
  font-size: 1.875rem;
  color: white;
}